<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
           Name="Properties2CSharp"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="Dalk"
		   UpgradeCode="{d3af2e01-7813-4a95-a001-75d0d7ed2389}"
			 >
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
		<UI>
			<UIRef Id="WixUI_InstallDir" />

			<Publish Dialog="ExitDialog"
					 Control="Finish"
					 Event="DoAction"
					 Value="CA.LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>

		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

		<WixVariable Id="WixUIBannerBmp" Value="Bitmaps/Banner.png" />
		<WixVariable Id="WixUIDialogBmp" Value="Bitmaps/Dialog.png" />

		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Properties2CSharp" />
		<Property Id="WixShellExecTarget" Value="[#properties2csharp.exe]" />
		<CustomAction Id="CA.LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />



		<Icon Id="I.MainIcon" SourceFile="Icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="I.MainIcon" />

		<Feature Id="F.MainApplication" Title="Properties2CSharp" Level="1">
			<ComponentGroupRef Id="CG.StartMenu" />
			<ComponentGroupRef Id="CG.ProductComponents" />
		</Feature>
	</Product>
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="D.StartFolder" Name="Properties2CSharp" />
			</Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="Properties2CSharp" />
			</Directory>
			<Directory Id="AppDataFolder">
				<Directory Id="RUNDIR" Name="Properties2CSharp" />
			</Directory>
		</Directory>

		<ComponentGroup Id="CG.StartMenu" Directory="D.StartFolder">
			<Component Id="C.MLShortcut" Guid="*">
				<Shortcut Id="S.MLShortcut"
						  Name="Properties2CSharp"
						  Target="[INSTALLDIR]properties2csharp.exe"
						  WorkingDirectory="RUNDIR" />
				<RemoveFolder Id="RF.StartFolder" On="uninstall" />
				<RegistryValue Id="RV.NBTEShortcut" Root="HKCU" Key="Software\Properties2CSharp" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
			<Component Id="C.Uninstall" Guid="*">
				<Shortcut Id="S.Uninstall"
						  Name="Uninstall Properties2CSharp"
						  Target="[SystemFolder]msiexec.exe"
						  Arguments="/x [ProductCode]"
						  Description="Uninstalls the Properties2CSharp Application" />
				<RemoveFolder Id="RF.Uninstall" On ="uninstall" />
				<RegistryValue Id="RV.Uninstall" Root="HKCU" Key="Software\Properties2CSharp" Name="uninstall" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<?include FileList.wxs ?>

</Wix>